In [187]:
import duckdb
import requests
from io import BytesIO
import pandas as pd

In [188]:
url = "https://www.indec.gob.ar/ftp/cuadros/economia/sh_ipc_08_23.xls"

In [189]:
response = requests.get(url)
xls = pd.ExcelFile(BytesIO(response.content))

In [190]:
inflacion = pd.read_excel(xls, sheet_name="√çndices IPC Cobertura Nacional", skiprows=5, usecols="B:CC")

In [191]:
inflacion.head(10)

,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,...,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100,101.5859,103.6859,106.1476,108.9667,110.5301,111.8477,113.7852,115.3819,117.5719,...,1028.706,1079.2787,1134.5875,1202.979,1282.7091,1381.1601,1497.2147,1613.5895,1709.6115,1818.0838
4,100,101.3024,103.1605,106.0143,108.3515,109.7631,110.7483,112.0115,114.3467,116.4048,...,1096.5069,1135.001,1187.9252,1268.3385,1392.3999,1522.5337,1677.0441,1774.4119,1848.0332,1954.5101
5,100,100.925,105.2395,107.2901,109.8338,111.7182,112.4572,115.794,117.3256,118.1383,...,832.7248,885.54,948.7615,1017.8777,1071.1087,1159.8526,1203.7907,1305.3763,1364.1997,1487.5243
6,100,99.0066,98.8523,102.255,106.8806,108.726,109.6911,108.3524,107.6769,111.7682,...,1261.5985,1318.2609,1371.3368,1402.845,1457.7661,1595.0861,1768.0967,1903.1899,1983.4012,2043.7327
7,100,101.4784,107.0014,110.8463,117.4108,119.5207,121.6359,124.0879,126.7648,129.2656,...,759.7711,825.5091,860.1091,929.1621,973.7901,1037.2344,1095.5146,1225.368,1324.556,1377.3341
8,100,100.8773,101.3278,102.1787,103.3147,106.1577,107.4904,110.0984,111.1513,112.2879,...,1028.4132,1084.1626,1148.5321,1210.6926,1271.8967,1345.7519,1462.0471,1590.1014,1717.2201,1822.9318
9,100,102.3501,105.0852,107.1422,109.052,110.7256,112.3558,116.0848,119.0025,121.8977,...,1119.4447,1165.2705,1231.4648,1291.7546,1360.5006,1438.3163,1532.9719,1671.6594,1815.4471,1979.4087

In [192]:
inflacion = inflacion.transpose()

In [193]:
inflacion.head(10)

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
2016-12-01,NaN,NaN,NaN,100,100,100,100,100,100,100,...,100,NaN,NaN,100,100,NaN,NaN,NaN,NaN,NaN
2017-01-01,NaN,NaN,NaN,101.5859,101.3024,100.925,99.0066,101.4784,100.8773,102.3501,...,106.1556,NaN,NaN,101.3114,105.6557,NaN,NaN,NaN,NaN,NaN
2017-02-01,NaN,NaN,NaN,103.6859,103.1605,105.2395,98.8523,107.0014,101.3278,105.0852,...,108.7652,NaN,NaN,102.8027,107.955,NaN,NaN,NaN,NaN,NaN
2017-03-01,NaN,NaN,NaN,106.1476,106.0143,107.2901,102.255,110.8463,102.1787,107.1422,...,113.2246,NaN,NaN,104.3918,111.7894,NaN,NaN,NaN,NaN,NaN
2017-04-01,NaN,NaN,NaN,108.9667,108.3515,109.8338,106.8806,117.4108,103.3147,109.052,...,116.2906,NaN,NaN,106.1844,114.7737,NaN,NaN,NaN,NaN,NaN
2017-05-01,NaN,NaN,NaN,110.5301,109.7631,111.7182,108.726,119.5207,106.1577,110.7256,...,116.8725,NaN,NaN,107.9532,116.7836,NaN,NaN,NaN,NaN,NaN
2017-06-01,NaN,NaN,NaN,111.8477,110.7483,112.4572,109.6911,121.6359,107.4904,112.3558,...,117.9284,NaN,NaN,108.8912,118.393,NaN,NaN,NaN,NaN,NaN
2017-07-01,NaN,NaN,NaN,113.7852,112.0115,115.794,108.3524,124.0879,110.0984,116.0848,...,121.167,NaN,NaN,110.2773,121.0736,NaN,NaN,NaN,NaN,NaN
2017-08-01,NaN,NaN,NaN,115.3819,114.3467,117.3256,107.6769,126.7648,111.1513,119.0025,...,123.9168,NaN,NaN,112.0706,123.3258,NaN,NaN,NaN,NaN,NaN
2017-09-01,NaN,NaN,NaN,117.5719,116.4048,118.1383,111.7682,129.2656,112.2879,121.8977,...,125.2309,NaN,NaN,113.2912,125.4875,NaN,NaN,NaN,NaN,NaN

In [194]:
inflacion = inflacion[3]

In [195]:
inflacion.head(10)

2016-12-01         100
2017-01-01    101.5859
2017-02-01    103.6859
2017-03-01    106.1476
2017-04-01    108.9667
2017-05-01    110.5301
2017-06-01    111.8477
2017-07-01    113.7852
2017-08-01    115.3819
2017-09-01    117.5719
Name: 3, dtype: object

In [196]:
inflacion = inflacion.rename('indice_inflacion')

In [197]:
inflacion.isna().sum()

0

In [198]:
inflacion.dropna(inplace=True)

In [199]:
inflacion.index = inflacion.index.astype(str).str.replace('-', '').str[:-2]

In [200]:
inflacion.head(10)

201612         100
201701    101.5859
201702    103.6859
201703    106.1476
201704    108.9667
201705    110.5301
201706    111.8477
201707    113.7852
201708    115.3819
201709    117.5719
Name: indice_inflacion, dtype: object

In [201]:
inflacion.index.name='foto_mes'
inflacion = inflacion.reset_index(drop=False)

In [202]:
inflacion["foto_mes"] = inflacion["foto_mes"].astype(int)

In [203]:
inflacion.to_parquet("datasets/raw/inflacion.parquet")

In [204]:
con = duckdb.connect(database=":memory:", read_only=False)

In [205]:
con.sql(
    """
    CREATE OR REPLACE TABLE arg_inflation AS (
        SELECT
            *
        FROM
            read_parquet('datasets/raw/inflacion.parquet')
    ) 
    """
)

In [206]:
con.sql(
    """
    SELECT
        *
    FROM arg_inflation
    LIMIT 5
    """
)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ foto_mes ‚îÇ indice_inflacion ‚îÇ
‚îÇ  int64   ‚îÇ      double      ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ   201612 ‚îÇ            100.0 ‚îÇ
‚îÇ   201701 ‚îÇ         101.5859 ‚îÇ
‚îÇ   201702 ‚îÇ         103.6859 ‚îÇ
‚îÇ   201703 ‚îÇ         106.1476 ‚îÇ
‚îÇ   201704 ‚îÇ         108.9667 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [207]:
con.sql(
    """
    ALTER TABLE arg_inflation
    ADD COLUMN indice_inflacion_acumulada FLOAT;
    """
)

In [208]:
con.sql(
    """
    WITH InflacionAcumulada AS (
        SELECT
            foto_mes,
            indice_inflacion,
            (
                (
                    SELECT 
                        indice_inflacion 
                    FROM arg_inflation 
                    WHERE foto_mes = 202107) / indice_inflacion
            ) AS inflacion_acumulada
        FROM arg_inflation
    )
    UPDATE arg_inflation
    SET indice_inflacion_acumulada = (
        SELECT 
            inflacion_acumulada 
        FROM InflacionAcumulada 
        WHERE arg_inflation.foto_mes = InflacionAcumulada.foto_mes
    );
    """
)

In [209]:
con.sql(
    """
    SELECT
        *
    FROM arg_inflation
    """
)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ foto_mes ‚îÇ indice_inflacion ‚îÇ indice_inflacion_acumulada ‚îÇ
‚îÇ  int64   ‚îÇ      double      ‚îÇ           float            ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ   201612 ‚îÇ            100.0 ‚îÇ                   4.980987 ‚îÇ
‚îÇ   201701 ‚îÇ         101.5859 ‚îÇ                   4.903227 ‚îÇ
‚îÇ   201702 ‚îÇ         103.6859 ‚îÇ                  4.8039193 ‚îÇ
‚îÇ   201703 ‚îÇ         106.1476 ‚îÇ                    4.69251 ‚îÇ
‚îÇ   201704 ‚îÇ         108.9667 ‚îÇ                  4.5711093 ‚îÇ
‚îÇ   201705 ‚îÇ         110.5301 ‚îÇ                   4.506453 ‚îÇ
‚îÇ   201706 ‚îÇ         111.8477 ‚îÇ                   4.453366 ‚îÇ
‚îÇ   201707 ‚îÇ         113.7852 ‚îÇ                   4.377535 ‚îÇ
‚îÇ   201708 ‚îÇ         115.3819 ‚îÇ                   4.316957 ‚îÇ
‚îÇ   201709 ‚îÇ         117.5719 ‚îÇ                  4.2365456 ‚îÇ
‚îÇ      ¬∑   ‚îÇ             ¬∑    ‚îÇ                      ¬∑     ‚îÇ
‚îÇ      ¬∑   ‚îÇ             ¬∑    ‚îÇ                      ¬∑     ‚îÇ
‚îÇ      ¬∑   ‚îÇ             ¬∑    ‚îÇ                      ¬∑     ‚îÇ
‚îÇ   202210 ‚îÇ         1028.706 ‚îÇ                  0.4841993 ‚îÇ
‚îÇ   202211 ‚îÇ        1079.2787 ‚îÇ                 0.46151072 ‚îÇ
‚îÇ   202212 ‚îÇ        1134.5875 ‚îÇ                 0.43901303 ‚îÇ
‚îÇ   202301 ‚îÇ         1202.979 ‚îÇ                 0.41405436 ‚îÇ
‚îÇ   202302 ‚îÇ        1282.7091 ‚îÇ                 0.38831773 ‚îÇ
‚îÇ   202303 ‚îÇ        1381.1601 ‚îÇ                  0.3606379 ‚îÇ
‚îÇ   202304 ‚îÇ        1497.2147 ‚îÇ                 0.33268356 ‚îÇ
‚îÇ   202305 ‚îÇ        1613.5895 ‚îÇ                 0.30868986 ‚îÇ
‚îÇ   202306 ‚îÇ        1709.6115 ‚îÇ                 0.29135197 ‚îÇ
‚îÇ   202307 ‚îÇ        1818.0838 ‚îÇ                 0.27396905 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 80 rows (20 shown)                             3 columns ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [210]:
con.sql(
    """
    CREATE OR REPLACE TABLE arg_inflation AS (
        SELECT
            *
        FROM arg_inflation
        ORDER BY foto_mes ASC
    )
    """
)

In [211]:
con.sql(
    """
    COPY arg_inflation 
    TO 'datasets/processed/inflacion.csv' (HEADER TRUE, DELIMITER ',');
    """
)

In [212]:
con.sql(
    """
    SELECT
        DISTINCT foto_mes
    FROM arg_inflation
    ORDER BY foto_mes ASC
    """
)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ  foto_mes  ‚îÇ
‚îÇ   int64    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ     201612 ‚îÇ
‚îÇ     201701 ‚îÇ
‚îÇ     201702 ‚îÇ
‚îÇ     201703 ‚îÇ
‚îÇ     201704 ‚îÇ
‚îÇ     201705 ‚îÇ
‚îÇ     201706 ‚îÇ
‚îÇ     201707 ‚îÇ
‚îÇ     201708 ‚îÇ
‚îÇ     201709 ‚îÇ
‚îÇ        ¬∑   ‚îÇ
‚îÇ        ¬∑   ‚îÇ
‚îÇ        ¬∑   ‚îÇ
‚îÇ     202210 ‚îÇ
‚îÇ     202211 ‚îÇ
‚îÇ     202212 ‚îÇ
‚îÇ     202301 ‚îÇ
‚îÇ     202302 ‚îÇ
‚îÇ     202303 ‚îÇ
‚îÇ     202304 ‚îÇ
‚îÇ     202305 ‚îÇ
‚îÇ     202306 ‚îÇ
‚îÇ     202307 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ  80 rows   ‚îÇ
‚îÇ (20 shown) ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò